[Desktop Entry]
Comment=Use WPS Writer to edit articles and reports.
Exec=/opt/netbeans/bin/netbeans
GenericName=WPS Writer
MimeType=application/wps-office.wps;application/wps-office.wpt;application/wps-office.doc;application/wps-office.dot;application/vnd.ms-word;application/msword;application/x-msword;application/msword-template;application/wps-office.docx;application/wps-office.dotx;application/rtf;
Name=WPS Writer
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=/opt/netbeans/nb/netbeans.icns
InitialPreference=3
StartupWMClass=wps
Name[es_SV]=Netbeans-10
GenericName[es_SV]=Netebeans
Comment[es_SV]=Programación
